.btn-get-started{
	border-radius: 3px;
	font-size: 20px;
	line-height: 19px;
	-webkit-box-shadow: 0 1px 0 0 #949494;
	-moz-box-shadow: 0 1px 0 0 #949494;
	box-shadow: 0 1px 0 0 #949494;
	padding: 18px 40px;
	margin-right: 10px;
	display: inline-block;
}
	.btn-get-started:hover{
		color: #fff;
		text-decoration: none;
	}
.btn-before-after{
	width: 77px;
	height: 28.5px;
	display: inline-block;
	border-radius: 50px;
	padding: 7px 22px;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
}
.btn-DHG{
	display: inline-block;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 #eed3ab;
	-webkit-box-shadow: 0 1px 0 0 #eed3ab;
	-moz-box-shadow: 0 1px 0 0 #eed3ab;
	font-size: 14px;
	line-height: 15px;
	background-color: #fff;
	color: #e5b062;
	padding: 16px 25px;
	text-align: center;
	margin-bottom: 10px;
	width: 230px;
}
	.btn-DHG:hover{
		color: #e5b062;
		text-decoration: none;
	}
.btn-search{
	/*width: 112.5px;*/
	height: 57px;
	display: inline-block;
	border-radius: 4px;
	font-size: 18px;
	line-height: 24px;
	padding: 16px 51px;
	background-color: #e5b062;
	color: #fff;
	border: 1px solid #e5b062;
	margin-left: 10px;
}
.btn-your-web{
	border: 1px solid #e5b062;
	color: #e5b062;
	padding: 10px 28px;
	display: inline-block;
	border-radius: 3px;
  	background-color: #fffbed;
	font-size: 15px;
	line-height: 18px;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
	     -o-transition: all 1s;
	        transition: all 1s;
}
	.btn-your-web:hover{
		background-color: #e5b062;
		color: #fff;
	}
.btn-builtdby{
	border: 1px solid #000;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 10px;
	padding: 5px 7px;
	font-size: 10px;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
	     -o-transition: all 1s;
	        transition: all 1s;
}
	.btn-builtdby:hover{
		background-color: #000;
		color: #fff;
		text-decoration: none;
	}