<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Box > The Box Model</h3>
                    <h3 class="content-heading black-color">Box</h3>
                    <p>In CSS, every piece of content is a box. RichCSS’s core is based on this single concept. Everything in RichCSS is an object, and every object is a box. The box folder is divided into 3 major files that contains specific styling that help structure and organize the content on the page.</p>

                    <p>In RichCSS the Box is composed of </p>

                    <p>
                        <ul class="unordered-list-items">
                            <li>The Main</li>
                            <li>The Blocks</li>
                            <li>Positioning</li>
                        </ul>
                    </p>

                    <p>To better understand how RichCSS take care of the Box it's important to understand how the CSS Box Model works.</p>

                    <p>The Box Model:</p>
                    <img src="img/box-model.png" class="box-model-img" /><br/><br/>

                    <p>
                        Resources:<br/>
                        <ul class="unordered-list-items">
                            <li>
                                <a href="https://css-tricks.com/the-css-box-model/">The CSS Box model by css-tricks.com</a>
                            </li>
                            <li>
                                <a href="http://webdesign.tutsplus.com/courses/understanding-the-css-box-model">Understanding the CSS Box Model</a>
                            </li>
                            <li>
                                <a href="https://helpx.adobe.com/dreamweaver/how-to/understanding-the-box-model.html">Understand the box model</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=lPm8lK4C7nc">W3Schools CSS Box Model Tutorial</a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>