<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Elements > Buttons</h3>
                    <h3 class="content-heading black-color">Buttons</h3>

                    <p>Button elements include but are not limited to the following tags:<br/>
                     TAGS: &#60;button&#62;, &#60;a&#62;&#60;/p&#62;
                    <p>
                        <span class="code-description-heading"><b>Example</b> — in elements/buttons.css</span><br/>
                        <span class="text-code orange-text">
                            a.button {<br/>
                            <span class="indent"></span>font-family: AvenirNext-Regular;<br/>
                            <span class="indent"></span>font-size: 19px;<br/>
                            <span class="indent"></span>color: #FFFFFF;<br/>
                            <span class="indent"></span>line-height: 26px;<br/>
                            <span class="indent"></span>text-decoration: none;<br/>
                            <span class="indent"></span>background: #000000;<br/>
                            <span class="indent"></span>border-radius: 3px;<br/>
                            <span class="indent"></span>padding: 9px 33px 9px 33px;<br/>
                            }<br/>
                            <br/>
                            a.action-button {<br/>
                            <span class="indent"></span>border-radius: 3px;<br/>
                            <span class="indent"></span>font-family: AvenirNext-Regular;<br/>
                            <span class="indent"></span>font-size: 18.26px;<br/>
                            <span class="indent"></span>color: #FFFFFF;<br/>
                            <span class="indent"></span>line-height: 25px;<br/>
                            }<br/>
                            <br/>
                            .search-button {<br/>
                            <span class="indent"></span>font-family: AvenirNext-Medium;<br/>
                            <span class="indent"></span>font-size: 18px;<br/>
                            <span class="indent"></span>line-height: 25px;<br/>
                            }
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>