<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Elements > Colors</h3>
                    <h3 class="content-heading black-color">Colors</h3>

                    <p>Color elements include but are not limited to the following tags:<br/>
                        TAGS: &#60;button&#62;, &#60;a&#62;&#60;/p&#62;
                    <p>
                        <span class="code-description-heading"><b>Example</b> — in elements/colors.css</span>
                        <span class="text-code orange-text">
                        .black-bg {<br/>
                        <span class="indent"></span>background-color: #000000; <br/>
                        }<br/>
                        <br/><br/>
                        .black-btn {<br/>
                        <span class="indent"></span>background-color: #000000;<br/>
                        <span class="indent"></span>color: #FFFFFF; <br/>
                        }<br/>
                        <br/>
                        .white-btn-orange-border {<br/>
                        <span class="indent"></span>border: 2px solid #F5A623;<br/>
                        <span class="indent"></span>border-radius: 2px;<br/>
                        <span class="indent"></span>background-color: #FFFFFF;<br/>
                        <span class="indent"></span>color: #F5A623; <br/>
                        }<br/>
                        <br/>
                        .white-link {<br/>
                        <span class="indent"></span>color: #FFFFFF;<br/>
                        <span class="indent"></span>cursor: pointer;<br/>
                        <span class="indent"></span>cursor: hand;<br/>
                        }<br/>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>