<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Box > Guides</h3>
                    <h3 class="content-heading black-color">The 7 Guides of RichCSS</h3>

                    <p>In order to make different parts of a website reusable, RichCSS will group each element into categories that are then structured into folders. Those folders are called <span class="light-orange-text">Guides</span>.</p>

                    <p>
                        The 7 Guides:
                        <ul class="unordered-list-items">
                            <li>Buttons</li>
                            <li>Colors</li>
                            <li>Features</li>
                            <li>Fonts</li>
                            <li>Images</li>
                            <li>Forms</li>
                            <li>Lists</li>
                        </ul>
                    </p>
                    <p>Each of these guides are represetned into folders</p>
                    <p>Stylesheets / <br>
                        <span class="indent blue-text"><b>Elements/</b></span><br>
                        <span class="indent"></span><span class="indent blue-text">button.css</span><br>
                        <span class="indent"></span><span class="indent blue-text">colors.css</span><br>
                        <span class="indent"></span><span class="indent blue-text">features.css</span><br>
                        <span class="indent"></span><span class="indent blue-text">fonts.css</span><br>
                        <span class="indent"></span><span class="indent blue-text">images.css</span><br>
                        <span class="indent"></span><span class="indent blue-text">forms.css</span><br>
                        <span class="indent"></span><span class="indent blue-text">lists.css</span><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>