<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Folder Structure and Naming</h3>
                    <h3 class="content-heading black-color">Folder Structure and Naming</h3>
                   
                    <p>File and Folder naming in RichCSS follow the underscore case naming convention.</p>

                    <p>Here how you can set up and structure your project to use RichCSS.</p>

                    <div class="architecture-drawing">
                        <div class="version-bg">
                            <p class="white-color">versions</p>
                            <div class="routs-bg">
                                <p class="dark-gray-text">routes</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="boxes-bg">
                                            <p>Box</p>
                                        </div>
                                        <div class="box-bg-content">
                                            <p>main</p>
                                            <p>positioning</p>
                                            <p>blocks</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="boxes-bg">
                                            <p>Elements</p>
                                        </div>
                                        <div class="box-bg-content">
                                            <p>buttons</p>
                                            <p>colors</p>
                                            <p>features</p>
                                            <p>fonts</p>
                                            <p>forms</p>
                                            <p>images</p>
                                            <p>lists</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="boxes-bg">
                                            <p>Parts</p>
                                        </div>
                                        <div class="box-bg-content">
                                            <p>import</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p><span class="light-orange-text">With CSS</span></p>
                    
                    <p>Stylesheet/<br/>
                        <span class="indent"></span>Box/<br/>
                        <span class="indent"></span><span class="indent"></span>blocks.css<br/>
                        <span class="indent"></span><span class="indent"></span>main.css<br/>
                        <span class="indent"></span><span class="indent"></span>positioning.css<br/>
                        <span class="indent"></span>Elements/<br/>
                        <span class="indent"></span><span class="indent"></span>buttons.css<br/>
                        <span class="indent"></span><span class="indent"></span>colors.css<br/>
                        <span class="indent"></span><span class="indent"></span>fonts.css<br/>
                        <span class="indent"></span><span class="indent"></span>features.css<br/>
                        <span class="indent"></span><span class="indent"></span>images.css<br/>
                        <span class="indent"></span><span class="indent"></span>forms.css<br/>
                        <span class="indent"></span><span class="indent"></span>lists.css<br/>
                        <span class="indent"></span>Parts/<br/>
                        <span class="indent"></span><span class="indent"></span>imports.css<br/>
                    </p>


                    <p><span class="light-orange-text">With SASS</span></p>

                    <p>Stylesheet/<br/>
                        <span class="indent"></span>Box/<br/>
                        <span class="indent"></span><span class="indent"></span>blocks.scss<br/>
                        <span class="indent"></span><span class="indent"></span>main.scss<br/>
                        <span class="indent"></span><span class="indent"></span>positioning.scss<br/>
                        <span class="indent"></span>Elements/<br/>
                        <span class="indent"></span><span class="indent"></span>buttons.scss<br/>
                        <span class="indent"></span><span class="indent"></span>colors.scss<br/>
                        <span class="indent"></span><span class="indent"></span>fonts.scss<br/>
                        <span class="indent"></span><span class="indent"></span>features.scss<br/>
                        <span class="indent"></span><span class="indent"></span>images.scss<br/>
                        <span class="indent"></span><span class="indent"></span>forms.scss<br/>
                        <span class="indent"></span><span class="indent"></span>lists.scss<br/>
                        <span class="indent"></span>Parts/<br/>
                        <span class="indent"></span><span class="indent"></span>imports.scss<br/>
                        <span class="indent"></span>route.scss<br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>