<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Elements > Forms</h3>
                    <h3 class="content-heading black-color">Forms</h3>  
                    <p>List elements include but are not limited to the following tags:<br>
                    TAGS: &#60;form&#62;, &#60;input&#62;, &#60;select&#62;, &#60;textarea&#62;
                    </p>


                    <p>
                        <span class="code-description-heading"><b>Example</b> — in elements/forms.css</span>
                        <span class="text-code orange-text">
                            input[type="text"] {<br/>
                            <span class="indent"></span>background: #FFFFFF;<br/>
                            <span class="indent"></span>font-family: AvenirNext-Regular;<br/>
                            <span class="indent"></span>font-size: 16px;<br/>
                            <span class="indent"></span>color: #F5A623;<br/>
                            <span class="indent"></span>line-height: 27px;<br/>
                            <span class="indent"></span>width: 272px;<br/>
                            <span class="indent"></span>height: 50px;<br/>
                            <span class="indent"></span>padding-left: 12px;<br/>
                            <span class="indent"></span>padding-right: 44px;<br/>
                            <span class="indent"></span>margin: 5px 0 5px 5px;<br/>
                            }<br/>
                            <br/>
                            select {<br/>
                            <span class="indent"></span>font-family: AvenirNext-Regular;<br/>
                            <span class="indent"></span>font-size: 16px;<br/>
                            <span class="indent"></span>color: #F5A623;<br/>
                            <span class="indent"></span>line-height: 27px;<br/>
                            <span class="indent"></span>border-radius: 0;<br/>
                            <span class="indent"></span>width: 332px;<br/>
                            <span class="indent"></span>height: 50px;<br/>
                            <span class="indent"></span>padding-left: 12px;<br/>
                            <span class="indent"></span>padding-right: 44px;<br/>
                            <span class="indent"></span>margin: 5px 0 5px 5px;<br/>
                            <span class="indent"></span>background: #FFFFFF;<br/>
                            }<br/>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>