<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Getting Started</h3>
                    <h3 class="content-heading black-color">Getting Started</h3>
                    <p>You can learn RichCSS in less than 30 minutes.</p>

                    <p>This guide will take you through creating a basic front-end application using RichCSS. This tutorial assumes a basic knowledge of HTML, CSS and SASS.</p>

                    <p><bold>Sample App 1 — RichCSS with CSS</bold><br/>
                    Github: <a href="https://github.com/RichCSS/sample-app-2">https://github.com/RichCSS/sample-app-1</a>

                    <p><b>Sample App 2 — RichCSS with SASS</b><br/>
                    Dependencies : <a href="http://sass-lang.com/install">http://sass-lang.com/install</a><br/>
                    Github: <a href="https://github.com/RichCSS/sample-app-2">https://github.com/RichCSS/sample-app-2</a>

                    <h3 class="content-heading black-color">Dependencies</h3>

                    RichCSS depends on CSS & HTML to be used and implemented.

                    If you'd like to use route.scss you'll need to install SASS.

                    <h3 class="content-heading black-color">Install</h3>

                </div>
            </div>
        </div>
    </div>
</section>