<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Elements > Images</h3>
                    <h3 class="content-heading black-color">Images</h3>
                    <p>Image elements include but are not limited to the following tags: <br>
                       TAGS: &#60;img&#62;
                   </p>

                    
                    <p>
                        <span class="code-description-heading"><b>Example</b> — in elements/images.css</span>
                        <span class="text-code orange-text">
                            img.logo {<br/>
                            <span class="indent"></span>width: 90.5px;<br/>
                            <span class="indent"></span>height: 21.8px;<br/>
                            <span class="indent"></span>margin-left: 20px;<br/>
                            }
                            <br/>
                            .mini-logo {<br/>
                            <span class="indent"></span>width: 61px;<br/>
                            <span class="indent"></span>height: 71px;<br/>
                            <span class="indent"></span>display: inline;<br/>
                            <span class="indent"></span>vertical-align: middle;<br/>
                            <span class="indent"></span>margin-bottom: 17px;<br/>
                            <span class="indent"></span>margin-right: 16px;<br/>
                            }
                        </span>
                    </p>
                    <p>Note: You do not need to add the img selector before classes, but this is good practice.</p>
                </div>
            </div>
        </div>
    </div>
</section>