<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Introduction</h3>
                    <h3 class="content-heading black-color">Introduction</h3>
                    <p>RichCSS is a CSS framework providing <span class="light-orange-text">default structures for reusable css elements</span>. It’s built around an Architectural Style that organizes your code in a way that allows: reusability of your css, versioning, the use of css plugins and the ease of using it. RichCSS is bringing convention and organization to CSS that anyone can understand and use.</p>

                    <p>RichCSS is the V2 of ROOCSS. <span class="light-orange-text">It’s a CSS Framework that makes it easy to organize and use CSS in teams.</span></p>

                    <h3 class="content-heading black-color">Advantages</h3>
                    <p>RichCSS has the following advantages</p>

                    <p>
                    <ul class="unordered-list-items">
                        <li>Little efforts to get started</li>
                        <li>A simple set of convention, structure and organization</li>
                        <li>Find classes easily and reuse them</li>
                        <li>Not having to explain how you organized your CSS to someone else</li>
                        <li>Rapidly take over someone’s else CSS code </li>
                        <li>Projects not handcuffed</li>
                        <li>Scalable : can be used by many with no confusion over classes names and structure</li>
                        <li>Versioning capabilities</li>
                        <li>Save Time</li>
                    </ul>
                    </p>

                    <h3 class="content-heading black-color">What's Object Oriented CSS?</h3>
                    <p>Nicole Sullivan from Yahoo invented the concept of Object Oriented CSS.</p>

                    <p>The Object Oriented CSS framework is based on 2 main principles: Separation of structure from skin and separation of containers and content. RichCSS differs from OOCSS in many aspects. The separation is extended to the way folders and files are organized and it’s not limited to the grid system. The definition of the “Object” in RichCSS is also very different.</p>

                    <p>As Nicole explains on her the wiki; In Object Oriented CSS a CSS object consists of four things:</p>

                    <p>
                    <ol class="ordered-list-items">
                        <li>HTML, which can be one or more nodes of the DOM</li>
                        <li>CSS declarations about the style of those nodes all of which begin with the class name of the wrapper node</li>
                        <li>Components like background images and sprites required for display</li>
                        <li>JavaScript behaviours, listeners, or methods associated with the object.</li>
                    </ol>
                    </p>

                    <p>“This can be confusing because each CSS class is not necessarily an object in its own right, but can be a property of a wrapper class.</p>

                    <p>There is no confusion In RichCSS because in this framework Everything is an object.</p>

                    <h3 class="content-heading black-color">Philosophy</h3>

                    <p>RichCSS was inspired by Ruby on Rails so the philosophy it follows comes from Rails: </p>
                    <p>
                        <ol class="ordered-list-items">
                            <li>Everything is an object</li>
                            <li>Convention over configuration</li>
                            <li>Stay DRY ( Don’t Repeat Yourself )  </li>
                        </ol>
                    </p>

                    <h3 class="content-heading black-color">Why is RichCSS different from Boostrap and other framewrok</h3>

                    <h3 class="content-heading black-color">What's the difference between RichCSS & Twitter Bootsrap</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>