<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Box > Main</h3>
                    <h3 class="content-heading black-color">Main</h3>
                    <p>The Main file, Main.css, contains all the core setup of your web page. This includes CSS Reset or other basic configurations that will never need to be changed for your website. It should only contain: Any CSS Reset configurations, &lt;body&gt; tag, &lt;header&gt; tag, &lt;row&gt; tag and &lt;footer&gt; tag styles. You can also add any grid system you like in Main.css. Every pre-configuration style goes in that file.</p>

                    <p>Main.css by default is always composed of:</p>
                    <p>
                        <span class="text-code orange-text">
                            html{}<br/>
                            body{}
                        </span>
                    </p>
                    <p>Any External CSS Reset such as the original ‘meyerweb reset’ goes in the imports.css file.</p>

                    <p>Stylesheets /<br/>
                        <span class="indent"></span>Box/<br/>
                        <span class="indent"></span>Elements/<br/>
                        <span class="indent"></span>Parts/<br/>
                        <span class="indent"></span><span class="indent"></span>imports.css
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>