<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Documentation</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <%= render 'chapters' %>
            <div class="col-md-9">
                <div class="content">
                    <h3 class="content-heading light-gray-text">Documentation > Box > Positioning</h3>
                    <h3 class="content-heading black-color">Positioning</h3>

                    <p>Stylesheets / <br>
                        <span class="indent"></span>Box/<br>
                        <span class="indent"></span><span class="indent"></span>positioning.css<br>
                    </p>

                    <p>The Positioning file contains common positions that would allow you to quickly add a class to an element or block and position it on the page (left, right, center).</p>

                    <p>
                        <span class="code-description-heading"><b>Example</b> — in box/positioning.css</span>
                        <span class="text-code orange-text">
                             .center-alignment {</br>
                              <span class="indent"></span>text-align: center;</br>
                             }</br>
                            </br>
                            .justify-alignment {</br>
                              <span class="indent"></span>text-align: justify;</br>
                             }</br>
                            </br>
                            .left-alignment {</br>
                              <span class="indent"></span>text-align: left;</br>
                             }</br>
                            </br>
                            .right-alignment {</br>
                              <span class="indent"></span>text-align: right;</br>
                             }</br>
                            </br>
                            .center-margin {</br>
                              <span class="indent"></span>margin-left: auto;</br>
                              <span class="indent"></span>margin-right: auto;</br>
                             }</br>
                             </br>
                            .float-right {</br>
                              <span class="indent"></span>float: right;</br>
                             }</br>
                             </br>
                            .float-left {</br>
                              <span class="indent"></span>float: left;</br>
                             }</br>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>