<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Acknowledgements</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <div class="col-md-12">
                <h3 class="contributor-heading black-color">We'd like to thank all of our contributors:</h3>
                <div class="row">
                    <div class="col-md-4">
                        <ul class="contributor-list">
                            <li>Richardson Dackam ( creator )</li>
                            <li>Gabriel Cheng</li>
                            <li>Jonathan Lai</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="contributor-list">
                            <li>Nicholas Lo</li>
                            <li>Bill Xu</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="contributor-list">
                            <li>David Zhu</li>
                            <li>Aaron Franks</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="cb-addition">
                    <p>In addition, we're grateful to - Waterloo University for allowing student to work on the RichCSS CLI for their final year project.</p>
                    <h2>Need help?</h2>
                    <p>Many members of the community use Stack Overflow to ask questions. Read through the existing questions tagged with richcss or ask your own!</p>
                    <h2>IRC</h2>
                    <p>Many developers and users idle on Freenode.net's IRC network in <span class="light-orange-text">#richcss on freenode</span>.</p>
                </div>
            </div>
        </div>
    </div>
</section>