<section class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Release Notes</p>
            </div>
        </div>
        <div class="row wrapper-content">
            <div class="col-md-12">
                <h3 class="contributor-heading black-color">1.0.0</h3>
                <p>We're are happy to announce the official release of RichCSS Website & Documentation. We hope that this iniative will help grow the RichCSS community.</p><br/><br/>

                <ul class="unordered-list-items">
                    <li>RichCSS Command Line Interface</li>
                    <li>Created RichCSS Website</li>
                    <li>RichCSS is now on IRC #Freenode</li>
                    <li>Updated the RichCSS Documentation</li>
                    <li>The input.css guide is now form.css</li>
                </ul> 

                <p><b>What can be improved & what we're looking to add next</b></p>
                <p><br/>
                 <ol class="ordered-list-items">
                 	<li>Make the website Responsive & Beautiful on mobile devices</li>
                    <li>It would be great to have a boostrap part on cssparts.com that is re-written by following the RichCSS conventions</li>
                    <li>Improving the definitions and scopes of features.</li>
                    <li>Writting a Foundation part.</li>
                    <li>Writting parts for all the grid systems</li>
                    <li>Writting parts for CSS animations</li>
                    <li>Creating a Partfile that would work just like Gemfile in Rails to avoid having to actually copy/paste CSS. IT will make it easier to install and remove borrowed CSS from web application</li>
                    <li>Creating a blueprint for common HTML tag that can be used to create a convention for writting RichCSS parts</li>
                    <li>A Tutorial on how to cut Design into RichCSS parts</li>
                </ol>
                </p>
            </div>
            <div class="col-md-12">
                <div class="cb-addition">
                    
                </div>
            </div>
        </div>
    </div>
</section>